<!-- <app-navbar></app-navbar> -->

<div id="span">
  <span class="menu-label label-primary d-block text-center">CONSULTAR MULTA</span>
</div>

 <div><img class="back" src="../../assets/left-arrow.svg" (click)="back()"></div>
<!--
  <form class="content-flex" id="formulario" class="form-group" [formGroup]="consultaPlacaForm">

    <div class="inputWithIcon">
      <input formControlName="placa" type="text" placeholder="Insira a Placa" #placa required>
    </div>
    <div id="error">{{ getError('placa') }}</div>

      <div class="inputWithIcon">
          <input
           formControlName="cpf" type="text" placeholder="Insira o CPF" #cpf required>
        </div>
        <div id="error">{{ getError('cpf')}}</div>

    <button class="button" [disabled]="consultaPlacaForm.invalid" type="submit" (click)="register()"><b>Consultar Multa</b></button>
  </form>
</div> -->

<div>
  <app-tab-multa></app-tab-multa>
</div>
