<div class="filter">
  <input type="text" class="form-control" name="filterMulta" placeholder="Search..." [(ngModel)]="filterMulta">
</div>

<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr class="align">
        <th scope="col">Data do Ocorrido</th>
        <th scope="col">Placa</th>
        <th scope="col">Tipo da Multa</th>
        <th scope="col"></th>


      </tr>
    </thead>
    <tbody>
      <tr class="align" *ngFor="let multa of multas | filter: filterMulta">
        <td>{{ multa.data }}</td>
        <td>{{ multa.placa | uppercase }}</td>
        <td>{{ multa.tipoMulta }}</td>

        <td>
          <button class="btn btn-outline-primary" (click)="removerMulta(multa.id)">
            <img src="../../assets/lixeira.svg" class="card-img-top" alt="..." />
          </button>


        </td>
      </tr>
    </tbody>
  </table>