<app-navbar></app-navbar>

<div id="span">
  <span class="menu-label label-primary d-block text-center">MENU VEÍCULO</span>
</div>


<div class="container">
  <div class="row">
 

    <div class="col-md-1 elementContainer">
      <a>
        <div class="image">
          <img title="Cadastrar Veiculo" src="../../assets/car.svg" class="mx-auto d-block"
            role="button">
          <p>Cadastrar Veiculo</p>
        </div>
      </a>
    </div>

    <div class="col-md-1 elementContainer">
      <a>
        <div class="image">
          <img title="Cadastrar Veiculo" src="../../assets/car.svg" class="mx-auto d-block"
            role="button">
          <p>Primeira aquisição</p>
        </div>
      </a>
    </div>

  </div>
</div>
